<h1>Add New Cpu</h1>

<form action="/cpu" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand"/>
    <label>Number Of Cores:</label>
    <input type="number" name="cores"/>
    <label>Frequency:</label>
    <input type="number" name="frequency"/>
    <label>Hyperthreading Enabled:</label>
    <input type="text" name="hyperthreading" />
    <input type="submit" value ="Add CPU to Build"/>
</form>
