<h1>Add New Power Supply</h1>

<form action="/psu" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand"/>
    <label>Max Power Output:</label>
    <input type="text" name="watts"/>
    <label>80+ Efficiency Rating:</label>
    <input type="text" name="efficiency"/>
    <label>Modularity:</label>
    <input type="text" name="modularity" />
    <input type="submit" value ="Add Power Supply to Build"/>
</form>
