<div class="build-head">
    <div class="build-head-title">Add new Power Supply Unit</div>
    <a class="build-head-return" href="/psu">
        <= Return to All Power Supply Units</a>
</div>

<form action="/psu" method="POST">

    <div class="list-item">

        <label>Name Your Power Supply Unit</label>
        <input type="text" name="name" required />
        <br />
        <label>Manufacturer:</label>
        <select type="text" name="brand">
            <option>EBGH</option>
            <option>Corsail</option>
            <option>SeaSoning</option>
        </select>
        <br />
        <label>Max Power Output:</label>
        <select type="text" name="watts">
            <option>400 watts</option>
            <option>500 watts</option>
            <option>750 watts</option>
            <option>850 watts</option>
            <option>1000 watts</option>
            <option>1200 watts</option>
        </select>
        <br />
        <label>80+ Efficiency Rating:</label>
        <select type="text" name="efficiency">
            <option>None</option>
            <option>Bronze</option>
            <option>Silver</option>
            <option>Gold</option>
            <option>Platinum</option>
            <option>Titanium</option>
        </select>
        <br />
        <label>Cable Modularity:</label>
        <select type="text" name="modularity">
            <option>None</option>
            <option>Semi-Modular</option>
            <option>Modular</option>
        </select>

    </div>

    <div class="footer">
        <input class="footer-update" type="submit" value="Add Power Supply Unit" />
    </div>

</form>