<h1>Add New RAM Kit</h1>

<form action="/ram" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand"/>
    <label>Memory Capacity:</label>
    <input type="text" name="memory"/>
    <label>Generation:</label>
    <input type="text" name="ddr"/>
    <label>Speed:</label>
    <input type="text" name="frequency" />
    <input type="submit" value ="Add RAM Kit to Build"/>
</form>
