<h1>Add New Motherboard</h1>

<form action="/mb" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand"/>
    <label>Size Class:</label>
    <input type="text" name="class"/>
    <label>CPU Socket Type:</label>
    <input type="text" name="socketType"/>
    <input type="submit" value ="Add Motherboard to Build"/>
</form>
