<h1>Add New Motherboard</h1>

<form action="/mb" method="POST">

    <label>Name Your Motherboard</label>
    <input type ="text" name="name" required/>

    <label>Manufacturer:</label>    
    <select type="text" name="brand">
        <option>ACES</option>
        <option>EBGH</option>
        <option>Gigabit</option>
        <option>NSI</option>
    </select>

    <label>Size Class:</label>
    <select type="text" name="class">
        <option>Mini-ITX</option>
        <option>Micro-ATX</option>
        <option>ATX (standard)</option>
        <option>XL-ATX</option>
    </select>
    
    <label>CPU Socket Type:</label>
    <select type="text" name="socketType">
        <option>TeamRed</option>
        <option>TeamBlue</option>
    </select>
    
    <input type="submit" value ="Add Motherboard to DataBase"/>
</form>
