<h1>Welcome</h1>
<div>
    <a href="/mb">Motherboards</a>
</div>
<div>
    <a href="/cpu">CPUs</a>
</div>
<div>
    <a href="/ram">RAM Kits</a>
</div>
<div>
    <a href="/gpu">GPUs</a>
</div>
<div>
    <a href="/psu">Power Supply Units</a>
</div>
<div>
    <a href="/cpucooler">CPU Coolers</a>
</div>
<div>
    <a href="/gpucooler">GPU Coolers</a>
</div>
<div>
    <a href="/case">PC Desktop Cases</a>
</div>
<div>
    <a href="/fan">Case Fans & Radiators</a>
</div>
<div>
    <a href="/build">Complete Builds</a>
</div>