<h1>All GPU Coolers:</h1>

<a href="/gpucooler/new">
    <button>
        Add New GPU Cooler
    </button>
</a>

{{#each allGpuCoolers}}
    <a href="/gpucooler/{{_id}}">
        <div class="list-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Cooler Design:</div>
                {{type}}
            </div>
        </div>
    </a>
{{/each}}
