<h1>Add New GPU Cooler</h1>

<form action="/gpucooler" method="POST">

    <label>Name Your GPU Cooler</label>
    <input type ="text" name="name" required/>

    <label>Manufacturer:</label>
    <select type="text" name="brand">
        <option>Same as GPU</option>
        <option>MZXD</option>
        <option>BKwb</option>
    </select>

    <label>Cooler Design:</label>
    <select type="text" name="type">
        <option>Integrated (Air)</option>
        <option>Hybrid Water (AIO)</option>
        <option>Open-loop Water (Block)</option>
    </select>

    <input type="submit" value ="Add GPU Cooler to Build"/>
</form>
