<h1>Change GPU Cooler</h1>

<form action="/gpucooler/{{singleGpuCooler._id}}?_method=PUT" method="POST">

    <label>Manufacturer:</label>
    <select type="text" name="brand">
        <option>Same as GPU</option>
        <option>MZXD</option>
        <option>BKwb</option>
    </select>

    <label>Cooler Design:</label>
    <select type="text" name="type">
        <option>Integrated (Air)</option>
        <option>Hybrid Water (AIO)</option>
        <option>Open-loop Water (Block)</option>
    </select>
    
    <input type="submit" value ="Change to New GPU Cooler"/>
</form>
