<h1>Add New RAM Kit</h1>

<form action="/ram" method="POST">
    <label>Manufacturer:</label>
    <select type="text" name="brand">
        <option>Corsail</option>
        <option>HiperEggs</option>
        <option>oG.Skillz</option>
        <option>CrewChill</option>
    </select>

    <label>Memory Capacity:</label>
    <select type="text" name="memory">
        <option>4 GigaBytes</option>
        <option>8 GigaBytes</option>
        <option>16 GigaBytes</option>
        <option>32 GigaBytes</option>
    </select>

    <label>Generation:</label>
    <select type="text" name="ddr">
        <option>DDR 3</option>
        <option>DDR 4</option>
    </select>

    <label>Frequency:</label>
    <select type="text" name="frequency">
        <option>2000 mHz</option>
        <option>2600 mHz</option>
        <option>3200 mHz</option>
        <option>3800 mHz</option>
    </select>

    <input type="submit" value ="Add RAM Kit to Build"/>
</form>
