<h1>Change PC Desktop Case</h1>

<form action="/case/{{singleCase._id}}?_method=PUT" method="POST">

    <label>Manufacturer:</label>
    <select type="text" name="brand">
        <option>Corsail</option>
        <option>ThurmLSteak</option>
        <option>MZXD</option>
        <option>JUULrMastER</option>
    </select>

    <label>Case Size:</label>
    <select type="text" name="size">
        <option>Small Form Factor</option>
        <option>Mini Tower</option>
        <option>Mid Tower</option>
        <option>Full Tower</option>
    </select>

    <label>Viewport Type:</label>
    <select type="text" name="viewPort">
        <option>None</option>
        <option>Acrylic</option>
        <option>Tempered Glass</option>
        <option>Mesh</option>
    </select>

    <label>Watercooling Friendly:</label>
    <select type="text" name="waterCool">
        <option>Yes</option>
        <option>No</option>
    </select>

    <input type="submit" value ="Change to New Case"/>
</form>
