<h1>All CPU Coolers:</h1>

<a href="/cpucooler/new">
    <button>
        Add New CPU Cooler
    </button>
</a>

{{#each allCpuCoolers}}
    <a href="/cpucooler/{{_id}}">
        <div class="list-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Cooler Design:</div>
                {{type}}
            </div>
        </div>
    </a>
{{/each}}
