<h1>Change CPU Cooler</h1>

<form action="/cpucooler/{{singleCpuCooler._id}}?_method=PUT" method="POST">

    <label>Rename Your CPU Cooler</label>
    <input type ="text" name="name" value="{{singleCpuCooler.name}}"/>

    <label>Manufacturer:</label>
        <select type="text" name="brand">
        <option>Corsail</option>
        <option>TeamRed.llc</option>
        <option>Bsilent</option>
        <option>BKwb</option>
    </select>

    <label>Cooler Design:</label>
    <select type="text" name="type">
        <option>CPU stock (air)</option>
        <option>Air (aftermarket)</option>
        <option>Closed-loop Water (AIO)</option>
        <option>Open-loop Water (block)</option>
    </select>

    
    <input type="submit" value ="Change to New CPU Cooler"/>
</form>
